body{
	margin:0;
}

.all-title{
	margin-top:30px;
	font-size: 30px;
	text-align:center;
	margin-bottom:10px;
}

.nonEmployee{
	font: 20px bold;
	text-align:center;
}


#scrollHead, #scrollBody{
	display:block;
}

#scrollBody{
	overflow-y:scroll;
	height:300px;
}

.back {
	margin-right:50px;
}

table.search {
	margin: 0px auto;
}

table.search td {
	text-align: left;
	font-size:15px;
}

div.buttonMenu {
	text-align: center;
}

table.list {
  margin: 5px auto;
  border: 1px solid gray;
}
table.list th {
  background: #222222;
  color: white;
}
table.list th, td {
  padding: 5px;
  font-size: small;
  text-align: center;
  table-layout:fixed;
}
.even {
  background: #F2F2F2;
}
.hover {
  background: #B2D8FF;
}
.fukidiv{
}
.text {
	position: relative;
	border:solid 1px;
	padding: 0px 20px;
}
.fukidashi {
	display: none;
	width: 250px;
	position: absolute;
	top:215px;
	left:1085px;
	background: #33cc99;
	color: #fff;
	font-weight: bold;
}

.fukidashi > .fukititle {
	color: #222;
	font-size: 18px;
}
.fukidiv:hover > .fukidashi {
	display: block;
}

div.fukidiv ul {
	list-style:none;
	padding-left: 0px;;
}

form {
	display: inline;
	margin:0 auto;
}

.mess{
	font-size:15px;
}

.button{
	line-height: 30px;
	padding:2px 10px;
}

.button2{
	line-height: 20px;
	padding:2px 10px;
}


.button, .button2 {
  position: relative;
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 5px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover, .button2:hover  {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}
.button:active, .button2:active {
  top: 3px;
  box-shadow: none;
}

.select{
	width:30px;
}
.code{
	width:80px;
}
.name{
	width:85px;
}
.hurigana{
	width:120px;
}
.sex{
	width:30px;
}
.birthday{
	width:80px;
}
.section{
	width:50px;
}
.date{
	width:80px;
}
.license{
	width:74px;
}