body{
	margin:0;
}

.all-title{
	font-size: 30px;
	text-align:center;
	margin-bottom:0px;
}

.back {
	margin-right:50px;
}

table.search {
	margin: 0px auto;
}

table.search td {
	text-align: left;
}

div.menu {
	text-align: center;
}

table.list {
  margin: 0px auto;
}
table.list th {
  background: #222222;
  color: white;
}
table.list th, td {
  padding: 5px;
  font-size: small;
  text-align: center;
}
.even {
  background: #F2F2F2;
}
.hover {
  background: #B2D8FF;
}
.fukidiv{
	position: relative;
	border:solid 1px;
}
.text {
	position: relative;
}
.fukidashi {
	display: none;
	width: 300px;
	position: absolute;
	top:0px;
	left:90px;
	background: #33cc99;
	color: #fff;
	font-weight: bold;
}

.fukidashi > .fukititle {
	color: #222;
	font-size: 18px;
}
.fukidiv:hover > .fukidashi {
	display: block;
}

div.fukidiv ul {
	list-style:none;
	padding-left: 0px;;
}

form {
	display: inline;
	margin:0 auto;
}

.button {
  position: relative;
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  line-height: 30px;
  margin-bottom: 5px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}
.button:active {
  top: 3px;
  box-shadow: none;
}