
body{margin:0
}

table{
	margin:0 auto;

}

.table1,tr,.td1,.td2{

	padding:10px;
	text-align:left;



}

.td1 { background-color: #222;
color:#ffffff;

 }

.td1{
	text-align:left;
}

.select{
	width:175px;
	height:27px;
}
.form{
	width:170px;
	height:23px;

}



.all-title{
	margin-top:30px;
	font-size: 30px;
	text-align:center;
	margin-bottom:0px;
}


div{
    margin:0 auto;
   	text-align:center;
}

.submit {
  margin-top: 7px;
  font-size:15px;
  position: relative;
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  line-height: 30px;
  width: 90px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.submit:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}
.submit:active {
  top: 3px;
  box-shadow: none;
}

.yoko{
	display:inline;
}