@charset "UTF-8";

ul#menu {
	height:42px; background-color:#eeeeee; font-weight:bold;
}
li#menu00,li#menu01,li#menu02,li#menu03,li#menu04,li#menu05 {
	float:left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
	background-repeat:no-repeat; 	/*背景画像を繰り返さない*/
}



/*ボタン01～05にはそれぞれ異なる背景画像を指定する*/
li#menu00{

	font-size:30px;
}

li#menu01 {
	width:164px; height:42px;	/*背景画像に合わせたサイズ指定*/

}


ul#menu  a {
	display:block;				/*リンクをブロック表示にする*/
	height:42px; padding-top:4px; text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}