@charset "UTF-8";

* {
margin: 0px;
padding: 0px;
}

#menu {
    list-style: none;
    overflow: hidden;
    text-align:right;

}

#back{
	background: #333;
	margin:0 auto;
	height:65px;
}

#black{

	color:#ffffff;
}



.one{
	margin-left:20px;
	 float: left;
	 font-size:30px;
	     height:65px;

	     }

#menu li.active a {
    background: #333;
}

.active {
     display: inline-block;
    border-left: 1px solid #DDD;
    text-decoration: none;
    margin: 0px 0px;

}

strong{
	color:#ffffff;
}

#menu li a {
    display: inline-block;
    padding: 10px 15px;
     text-align: center;
     text-decoration: none;
     color: #333;
}

#menu li a span {
    display: block;
    color: #AAA;
    margin: 1px 0 0 0;
    text-transform: uppercase;
    font-size: 50%;
    letter-spacing: 1px;
}
#menu li a:hover {
    background: #7d7d7d;
}

