body{
	margin:0px;
}

.divdiv{
    margin:0 auto;
   	text-align:center;
}


.all-title{
	margin-top:50px;
	font-size:32px;
	font-weight:30px;
	margin-bottom:10px;
}

.mess{
	font-size:20px;
}

.button {
  margin-top:10px;
  position: relative;
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  line-height: 30px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}
.button:active {
  top: 3px;
  box-shadow: none;
}