.menu{
	display:inline;
	margin: 0;
padding: 0;

}

.all{
	height:180px;
	width:200px;

}

div{

	    margin:20px auto;
   	padding-top: 150px;
   	text-align:center;
}

#b1{background:url('images/profile (2).png') no-repeat top;
background-color: #006a6c;



}
#b2{background:url('images/user-filled-person-shape (1).png')no-repeat top;
background-color: #20b2aa;
}
#b3{background:url('images/credential.png')no-repeat top;
background-color: #4169e1;
}
#b4{background:url('images/pencil-striped-symbol-for-interface-edit-buttons.png')no-repeat top;
background-color: #043c78;
}
#b5{background:url('images/documents-symbol.png')no-repeat top;
background-color: #191970;
}
#b6{background:url('images/about-us.png')no-repeat top;
background-color: #001e43;
}

.all{
padding-top:150px;
vertical-align: bottom;
margin-top:10px;;
text-decoration: none;
color: #E1E2CF;
margin: 1px 0px;
font-size: 20px;

}
.all:hover{
border-left: 8px solid #990033;
background-color: #474655;
}